<mat-toolbar class="navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="nav-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let link of navigationEntries" routerLink="{{link.linkRoute}}">{{link.linkText}}</button>
  </mat-menu>

  <span>mexintheweb</span>
  <span class="spacer"></span>
  <div class="nav-line">
    <a mat-button *ngFor="let link of navigationEntries" routerLink="{{link.linkRoute}}">{{link.linkText}}</a>
  </div>
  <div class="nav-icon">
    <span>Test</span>
  </div>
  
</mat-toolbar>