<div class="container">
    <div *ngIf="auth.isLoading === true" id="circle">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                    <div class="loader">
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form *ngIf="auth.isLoading === false && auth.isUserLoggedIn() === false">
        <fieldset>
            <div class="form-group" style="text-align: center;">
                <label >Zugangsdaten eingeben</label>
            </div>
            <div class="form-group" style="text-align: center;">
                <!--<label >Email</label>-->
                <input #user class="form-control form-control-mex" type="email" placeholder="Enter email">
            </div>

            <div class="form-group" style="text-align: center;">
                <!--<label >Password</label>-->
                <input #pw type="password" class="form-control form-control-mex" placeholder="Password">
            </div>

            <div class="form-group" style="text-align: center;">
                <button (click)="login(user.value, pw.value)" type="submit" class="btn btn-primary">weiter</button>
            </div>

            <div *ngIf="auth.isLoading === false && loginResult === 'failed'" class="form-group" style="text-align: center;">
                <span style="color: red;">LOGIN FAILED</span>
            </div>
            
        </fieldset>
    </form>
</div>
